.filterIndicator {
    position: relative;
    top: -5px;
    left: -5px;
    opacity: 0.3;

    &:hover {
        opacity: 0.6;
    }

    &.hasFilter {
        color: var(--c-registry-primary-active);
        opacity: 1;
    }
}

.sortIndicator {
    transition: 0.2s ease transform;
    color: var(--c-registry-primary-active);
}

.desc {
    transform: rotate(180deg);
}
.filterInput {
    outline: 1px solid #afafaf;
    border-radius: 8px;
    padding: 8px;
    border: none;

    &:focus {
        outline: 2px solid var(--c-registry-primary-active, #008cff);
    }
}

.filterPopup {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15),
    0 1px 3px rgba(0, 0, 0, 0.1);
}