.customRegistry[data-component="table"] {
}


.customRegistry [data-component="header-cell"] {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.status {
    display: flex;
    justify-content: space-between;
}