:global(body) {
    margin: 0;
    padding: 0;
}

.appContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(100px, 1fr);
    width: 100vw;
    height: 100vh;
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.registryVariants {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .variant {
        display: flex;
        flex-direction: column;
        gap: 4px;

        input {
            cursor: pointer;
        }
    }
}

.title {
    margin: 0;
}

.tableWrapper {
    padding: 16px;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.row {
    display: flex;
    flex-direction: row;
    width:fit-content;

    &.striped {
        background: rgba(70, 70, 200, 0.4);
    }
}

.cell {
    display: flex;
    flex-shrink: 0;
    padding: 8px;
}

.headerCell {
    display: flex;
    flex-shrink: 0;
    padding: 8px;
    font-weight: 600;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.indexCell {
    position: sticky;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    z-index: 2;

    &[data-component="cell"] {
        z-index: 1;
        background: inherit;
    }
}

.age {
    --table-header-cell-bg: red;
    background: rgba(255, 0, 0, 0.2);
}


.customRegistry[data-component="table"] {
    --table-border-width: 5px;
}

.customRegistry [data-component="header-cell"] {
    --table-header-cell-bg: #a1a1df;
    cursor: pointer;
}