.registry {
    --c-registry-primary-active: #008cff;
}

.headerCell {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.sortable, &.filterable {
        cursor: pointer;
    }
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.indicators {
    display: flex;
    align-items: center;
    color: var(--c-registry-primary-active);

    > * {
    }
}

.filterIndicator {
    position: relative;
    top: -4px;
    left: -6px;
}

.sortIndicator {
    transition: 0.2s ease transform;
}

.desc {
    transform: rotate(180deg);
}