.registry {
    --c-registry-primary-active: #008cff;
    --indicators-min-height: 24px;
}

.headerCell {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.sortable {
        cursor: pointer;
    }
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.indicators {
    display: flex;
    align-items: center;
    min-height: var(--indicators-min-height);
    --c-indicator-active: var(--c-registry-primary-active);
}

.sortIndicator {
    transition: 0.2s ease transform;
    color: var(--c-indicator-active);
}

.desc {
    transform: rotate(180deg);
}
